<footer>
    <div class="footer-content">
        <div class="footer-social-icons">
            <a
                href="https://www.linkedin.com/in/julien-phan-813703197/"
                target="_blank"
                rel="noopener noreferrer"
            >
                <i class="uil uil-linkedin"></i>
            </a>
            <a
                href="https://github.com/MrMelon1232"
                target="_blank"
                rel="noopener noreferrer"
            >
                <i class="uil uil-github"></i>
            </a>
        </div>

        <div class="footer-copy">
            <p>© 2025 Julien Phan. All rights reserved.</p>
        </div>
    </div>
</footer>
