<footer>
    <div class="top-footer">
        <p>Julien Phan .</p>
    </div>
    <div class="middle-footer">
        <ul class="footer-menu">
            <li class="footer_menu_list">
                <a href="#home">Home</a>
            </li>
            <li class="footer_menu_list">
                <a href="#about">About</a>
            </li>
            <li class="footer_menu_list">
                <a href="#projects">Projects</a>
            </li>
            <li class="footer_menu_list">
                <a href="#contact">Contact</a>
            </li>
        </ul>
    </div>

    <div class="footer-social-icons">
        <div class="icon"><i class="uil iul-linkedin-alt"></i></div>
        <div class="icon"><i class="uil iul-github-alt"></i></div>
    </div>
    <div class="bottom-footer">
        <p>
            Copyright &copy;
            <a href="#home" style="text-decoration: none">Julien Phan</a> - All
            rights reserved
        </p>
    </div>
</footer>
